.timer {
    width: 100%;
    margin: 0rem auto 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 75px;
    margin: 0;
}